src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out

subprojects/veins_rms_catch/out
subprojects/veins_rms_catch/run
subprojects/veins_rms_catch/src/*.dll
subprojects/veins_rms_catch/src/*.dylib
subprojects/veins_rms_catch/src/*.so
subprojects/veins_rms_catch/src/Makefile
subprojects/veins_rms_catch/src/veins_rms_catch
subprojects/veins_rms_catch/src/veins_rms_catch_dbg
