src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out

subprojects/cooperis_catch/bin
subprojects/cooperis_catch/out
subprojects/cooperis_catch/run
subprojects/cooperis_catch/src/*.dll
subprojects/cooperis_catch/src/*.dylib
subprojects/cooperis_catch/src/*.so
subprojects/cooperis_catch/src/Makefile
subprojects/cooperis_catch/src/cooperis_catch
subprojects/cooperis_catch/src/cooperis_catch_dbg
